:root {
  --bg: #FAFCFF;
  --card: #ffffff;
  --text: #0b1220;
  --muted: #9D9D9D;
  --border: #D9D9D9;
  --shadow: 0px 4px 4px rgba(0, 0, 0, .25);

  --blue: #2966FF;
  --blueDark: #23335D;
  --blueMid: #496BC3;

  --radius-xl: 35px;
  --radius-md: 11px;

  --reveal: 64px;
  --eyeSize: 44px;

  /* Lane abu */
  --lane: #EAEAEA;

  /* Sidebar sizes */
  --sidebarWide: 250px;
  --sidebarCompact: 92px;
  --sidebarMini: 78px;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  background: var(--bg);
  font-family: Poppins, system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
  color: var(--text);
}

#root {
  min-height: 100vh;
}
